* {
  box-sizing: border-box;
}

body {
  background: #23252C;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}